.main-pool-config-card {
    max-width: 1200px;
    border-top-color: #3c3fe4 !important;
    border-top-width: 6px !important;
    border-radius: 6px !important;
    box-shadow: -2px -2px 6px rgb(21 34 71 / 70%), -2px -2px 4px rgb(191 198 212 / 40%), 2px 2px 2px rgb(168 168 211 / 13%), 2px 2px 4px rgb(0 0 0 / 10%);
}

.main-pool-configuration {
    border: 1px solid #3c3fe4;
    border-radius: 10px;
    padding: 10px 15px;
}